image: docker:latest

variables:
  DOCKER_OPTS: "--insecure-registry=elu.noip.me:5005"
  DOCKER_HOST: "tcp://elu.noip.me:5005"

services:
  - name: docker:dind
    command: ["--insecure-registry=elu.noip.me:5005"]

stages:
  - build

variables:
  CONTAINER_IMAGE: elu.noip.me:5005/$CI_PROJECT_PATH

before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN elu.noip.me:5005

#token="$CI_BUILD_TOKEN"
build:
  stage: build
  script:
    - docker pull $CONTAINER_IMAGE:latest || true
    - docker build --build-arg project_dir="$CI_PROJECT_DIR" --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_BUILD_REF --tag $CONTAINER_IMAGE:latest .
    - docker push $CONTAINER_IMAGE:$CI_BUILD_REF
    #- docker build --build-arg token="$CI_BUILD_TOKEN" --pull -t $CONTAINER_IMAGE .
    #- docker build --pull -t $CONTAINER_IMAGE .
    - docker push $CONTAINER_IMAGE:latest


