image: docker:latest

variables:
  DOCKER_OPTS: "--insecure-registry=elu.noip.me:5005"
  DOCKER_HOST: "tcp://elu.noip.me:5005"

services:
  - name: docker:dind
    command: ["--insecure-registry=elu.noip.me:5005"]

stages:
  - build

variables:
  CONTAINER_TEST_IMAGE: elu.noip.me:5005/dani/yml_converter

before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN elu.noip.me:5005

build:
  stage: build
  script:
    - docker build --build-arg token="$CI_BUILD_TOKEN" --pull -t "$CONTAINER_TEST_IMAGE" .
    - docker push $CONTAINER_TEST_IMAGE


