input#input-700.file-loading multiple="multiple" name="order[xlsx]" type="file"

#hidden_data_yml.hidden data-ymlpath="#{xls_path(method: :post)}" data-ymlorderpath="#{orders_path(method: :post, type: 'xls')}" data-type='xls' data-targettype='yml'

